<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724257642897-98n8p5im40ib69an4sjtenldl38vjlf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724257642897-98n8p5im40ib69an4sjtenldl38vjlf0</string>
	<key>API_KEY</key>
	<string>AIzaSyB-SFGlU_aI1C_wsRKcsZsrnVUWMlfv8RE</string>
	<key>GCM_SENDER_ID</key>
	<string>724257642897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SMSWH</string>
	<key>PROJECT_ID</key>
	<string>smswh-298f1</string>
	<key>STORAGE_BUCKET</key>
	<string>smswh-298f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724257642897:ios:18b53b61bfd4b429272230</string>
	<key>DATABASE_URL</key>
	<string>https://smswh-298f1-default-rtdb.firebaseio.com</string>
</dict>
</plist>